%h2
  %a{:href => "/#{params[:name]}/tree/#{params[:id]}"}= "#{params[:name]}"
  = "-"
  Diffs
%p
  %a{:href => "/#{params[:name]}/tree/#{params[:id]}"} (tree)
  %a{:href => "/#{params[:name]}/commits/#{params[:id]}"} (commits)
  %a{:href => "/#{params[:name]}/branches"} (branches)
%div#file~ @formatted_text
