%h1= "Git Local - History"
%ul
  - @commits.each do |c|
    %li.sha
      %a{:href => "/#{params[:name]}/tree/#{c}"}= c | 
      %a{:href => "/#{params[:name]}/history/#{c}"}= "(view diffs)"
      %ul
        %li= c.message
        %li= c.authored_date.strftime("Committed by #{c.author} on %m/%d/%Y, at %I:%M%p")
