%h1
  %a{:href => "/#{params[:name]}/tree/#{params[:id]}"}= "#{params[:name]}"
  = "-"
  Commits
%p
  %a{:href => "/#{params[:name]}/tree/#{params[:id]}"} (tree)
  %a{:href => "/#{params[:name]}/branches"} (branches)
%ul
  - @commits.each do |c|
    %li.sha
      %a{:href => "/#{params[:name]}/tree/#{c}"}= c | 
      %a{:href => "/#{params[:name]}/history/#{c}"}= "(view diffs)"
      %ul
        %li= c.message
        %li= c.authored_date.strftime("Committed by #{c.author} on %m/%d/%Y, at %I:%M%p")
