<h1>Git Local - Tree</h1>
<p>viewing: <%= request.path_info.gsub('tree/','') %> <a href="/history/<%= params[:name] %>">(history)</a></p>
<ul>
	<% if @tree != nil %>
		<% @tree.contents.each do |c| %>
			<li><a href="<%= request.path_info %>/<%= c.name %>/<%= c.id %>"><%= c.name %></a></li>
		<% end %>
	<% end %>
</ul>