-@title = "#{request.path_info.gsub("/tree/#{params[:id]}","")}"
%h2
  %a{:href => "/#{params[:name]}/tree/#{params[:id]}"}= "/#{params[:name]}"
  = "-"
  Tree
#meta
  -if @repo.branches[0] == nil
    There are no branches for this repo
  -else
    = "#{request.path_info.gsub("/tree/#{params[:id]}","")}"
    %a{:href => "/#{params[:name]}/history/#{params[:id]}"} history
    %a{:href => "/#{params[:name]}/commits/#{params[:id]}"} commits
    %a{:href => "/#{params[:name]}/branches"} branches
%ul.tree
  - if @tree
    - @tree.contents.each do |c|
      - if c.name.match(/readme/i)
        - @readme=c
      - if c.class == Grit::Blob
        %li.blob
          %a{:href => "#{build_uri(request.path_info, c.name)}"}= c.name
        - else
        %li.folder
          %a{:href => "#{build_uri(request.path_info, c.name)}"}= c.name + '/'

- if @formatted_text 
  #file{:class => "#{@lang_class}"}~ @formatted_text
- if @readme != nil
  %div#readme~ RedCloth.new(@readme.data).to_html
