%h1= "Git Local - Tree"
%p
  = "viewing: #{request.path_info.gsub("/tree/#{params[:id]}","")}"
  %a{:href => "/#{params[:name]}/history/#{params[:id]}"} (history) | 
  %a{:href => "/#{params[:name]}/commits/#{params[:id]}"} (commits)
%ul
  - if @tree
    - @tree.contents.each do |c|
      %li
        %a{:href => "#{build_uri(request.path_info, c.name)}"}= c.name
- if @formatted_text && @tree.contents.empty?
  %div#file~ @formatted_text
