%h1
  %a{:href => "/#{params[:name]}/tree/#{params[:id]}"}= "#{params[:name]}"
  = "-"
  Tree
%p
  -if @repo.branches[0] == nil
    There are no branches for this repo
  -else
    = "viewing: #{request.path_info.gsub("/tree/#{params[:id]}","")}"
    %a{:href => "/#{params[:name]}/history/#{params[:id]}"} (history)
    %a{:href => "/#{params[:name]}/commits/#{params[:id]}"} (commits)
    %a{:href => "/#{params[:name]}/branches"} (branches)
%ul
  - if @tree
    - @tree.contents.each do |c|
      - if c.name.match(/readme/i)
        - @readme=c
      %li
        %a{:href => "#{build_uri(request.path_info, c.name)}"}= c.name

- if @formatted_text 
  %div#file~ @formatted_text
- if @readme != nil
  - file_text = syntaxi_lang("all") + @readme.data + '[/code]'
  %div#file~ format_text(file_text)
